<script>
    import Layout from "../layouts/Layout.svelte";
    import Search from "../components/Search.svelte";
    import FindLocations from "../components/FindLocations.svelte";
    import SavedLocations from "../components/SavedLocations.svelte";
    export let locations;
    export let findLocations;
    export let statusMessage;
</script>

<Layout>
    {#if statusMessage}
        <div
            class="w-full bg-indigo-700 text-white font-nunito_bold text-center px-6 py-2 mb-2"
        >
            {statusMessage}
        </div>
    {/if}

    <div class="grid grid-cols-1 lg:grid-cols-2 lg:gap-x-4 w-full mx-auto">
        <div class="col-span-1 w-full bg-gray-50 border border-gray-200 p-4">
            <Search />
            <FindLocations {findLocations} />
        </div>
        <div class="col-span-1 w-full bg-gray-50 border border-gray-200 p-4">
            <SavedLocations {locations} />
        </div>
    </div>
</Layout>
