<script>
    import Layout from "../layouts/Layout.svelte";
    import Icon from "@iconify/svelte";
</script>

<Layout>
    <div class="flex flex-col items-center pt-20">
        <div class="text-indigo-700">
            <Icon
                icon="fluent:weather-thunderstorm-20-regular"
                class="h-24 w-24 text-center"
            />
        </div>
        <div class="text-3xl font-roboto_bold pt-4 text-center">
            Could not get data from the OpenWeather API.
        </div>
        <div class="text-2xl font-roboto_bold text-gray-500 pt-4 pb-36">
            Please try again later.
        </div>
    </div>
</Layout>
