<script>
    import Layout from "../layouts/Layout.svelte";
    import Current from "../components/Current.svelte";
    import Alerts from "../components/Alerts.svelte";
    import Next60Minutes from "../components/Next60Minutes.svelte";
    import Next48Hours from "../components/Next48Hours.svelte";
    import Next7Days from "../components/Next7Days.svelte";
    export let location;
    export let units;
    export let current;
    export let next3daysAbbrev;
    export let next60minutes;
    export let next48hours;
    export let next7days;
    export let alerts;
    const day = "bg-white text-gray-700 border border-gray-200 flex";
    const night = " bg-gray-500 text-white border border-gray-200 flex";
    const currentClass = current.dayNight === "day" ? day : night;
</script>

<Layout>
    <div
        class="grid grid-cols-1 lg:grid-cols-2 lg:gap-x-6 px-6 xl:px-20 py-5 {currentClass}"
    >
        <Current {location} {current} {units} />
    </div>

    <Alerts {alerts} />

    {#if next60minutes.length > 0}
        <div class="bg-white border border-gray-200 py-3 px-6 mt-3">
            <Next60Minutes minutes={next60minutes} />
        </div>
    {/if}

    <div class="bg-white border border-gray-200 p-6 mt-3">
        <Next48Hours hours={next48hours} {next3daysAbbrev} />
    </div>

    <div class="mt-3">
        <Next7Days days={next7days} />
    </div>
</Layout>
