<script>
    export let alerts;
</script>

{#if alerts.length > 0}
    <div class="bg-white border border-gray-200 pt-3 px-6 lg:px-20 mt-3">
        {#each alerts as alert}
            <div class="font-roboto_bold text-base text-indigo-700">
                {alert.event}
            </div>
            <div class="my-3">
                {alert.description}
            </div>
        {/each}
    </div>
{/if}
