<script>
    import WeatherIcon from "../components/WeatherIcon.svelte";
    export let location;
    export let units;
    export let current;
    const day = "bg-white text-gray-700 flex text-center";
    const dayHighlight = "bg-white text-indigo-700 flex";
    const night = " bg-gray-500 text-white flex text-center";
    const currentClass = current.dayNight === "day" ? day : night;
    const currentHighlightClass =
        current.dayNight === "day" ? dayHighlight : night;
    const tempUnits = units === "imperial" ? "F" : "C";
</script>

<div class="flex flex-col items-center lg:items-start lg:justify-center">
    <div class="font-roboto_bold text-3xl xl:text-4xl {currentHighlightClass}">
        {location}
    </div>
    <div class="font-roboto_bold text-lg">
        {current.dt}
    </div>
    <div class="font-roboto_bold text-base">
        {current.description}
    </div>
</div>
<div
    class="flex flex-col lg:flex-row lg:justify-end {currentClass} items-center"
>
    <div class={currentClass}>
        <WeatherIcon measure={current} size="current" />
    </div>
    <div class="lg:ml-6 {currentClass} flex flex-col">
        <div class="font-roboto_bold text-4xl xl:text-6xl">
            {current.temp}
        </div>
        <div class="text-xs text-center">Temp {tempUnits}</div>
    </div>
    <div class="lg:ml-6 {currentClass} flex flex-col">
        <div class="font-roboto_bold text-4xl xl:text-6xl">
            {current.feelsLike}
        </div>
        <div class="text-xs text-center">Feels Like</div>
    </div>
    <div class="lg:ml-6 {currentClass} flex flex-col">
        <div class="font-roboto_bold text-4xl xl:text-6xl">
            {current.humidity}
        </div>
        <div class="text-xs text-center">Humidity</div>
    </div>
    <div class="lg:ml-6 {currentClass} flex flex-col">
        <div class="font-roboto_bold text-4xl xl:text-6xl">
            {current.dewPoint}
        </div>
        <div class="text-xs text-center">Dew Point</div>
    </div>
    <div class="lg:ml-6 {currentClass} flex flex-col">
        <div class="font-roboto_bold text-4xl xl:text-6xl">
            {current.windSpeed}
        </div>
        <div class="text-xs text-center">{current.windDirection} Wind</div>
    </div>
</div>
