<script>
    import Icon from "@iconify/svelte";
    import WeatherIcon from "../components/WeatherIcon.svelte";
    export let measure;
</script>

<div class="bg-white border border-gray-200 p-3">
    <div class="flex font-roboto_bold text-lg justify-center items-center">
        <div class="">{measure.day}</div>
        {#if measure.fullMoon === true}
            <div class="flex pl-2 h-8 w-8 text-indigo-700  items-center">
                <Icon icon="mdi:moon-new" />
            </div>
        {/if}
    </div>
    <div class="">
        <WeatherIcon {measure} size="day" />
    </div>
    <div class="flex justify-center">
        <div class="font-roboto_bold text-4xl mr-1">
            {measure.highTemp}
        </div>
        <div class="font-roboto_bold text-2xl text-gray-400 ml-1">
            {measure.lowTemp}
        </div>
    </div>
    <div class="grid grid-cols-4 text-xs font-nunito_light mt-2 px-2">
        <div class="col-span-3">Precipitation:</div>
        <div>{measure.precipitation} %</div>
        <div class="col-span-3">Dew Point:</div>
        <div>{measure.dewPoint}</div>
        <div class="col-span-3">Sunrise:</div>
        <div>{measure.sunrise}</div>
        <div class="col-span-3">Sunset:</div>
        <div>{measure.sunset}</div>
    </div>
</div>
