<script>
    import Icon from "@iconify/svelte";
    import { Link, page } from "@inertiajs/inertia-svelte";
    export let findLocations;
</script>

<div class="grid grid-cols-7 gap-1 w-full mx-auto mt-6">
    {#each findLocations as location}
        <div
            class="col-span-2 flex justify-center items-center space-x-5 bg-white py-1"
        >
            <Link
                title="View this location"
                href="/change_location?default={location.default}&latitude={location.lat}&long={location.long}&name={location.name}"
            >
                <Icon icon="bi:eye" class="h-7 w-7" />
            </Link>
            {#if $page.props.loggedIn}
                <Link
                    title="Add to the list of saved locations"
                    href="/add_location"
                    method="post"
                    data={{
                        latitude: location.lat,
                        long: location.long,
                        name: location.name,
                    }}
                    as="button"
                >
                    <Icon icon="ant-design:save-outlined" class="h-7 w-7" />
                </Link>
            {/if}
        </div>
        <div class="col-span-5 bg-white flex items-center">
            <div class="pl-3">{location.name}</div>
        </div>
    {/each}
</div>
