<script>
    import WeatherIcon from "../components/WeatherIcon.svelte";
    export let measure;
</script>

{#if measure["dayNight"] === "day"}
    <WeatherIcon {measure} size="hour" />
    <div class="bg-white text-gray-700 text-center">
        {measure["temp"]}
    </div>
{:else if measure["dayNight"] === "night"}
    <div class="bg-gray-500 text-white text-center">
        <WeatherIcon {measure} size="hour" />
    </div>
    <div class="bg-gray-500 text-white text-center">
        {measure["temp"]}
    </div>
{:else}
    <div class="bg-white text-white">
        {measure["temp"]}
    </div>
{/if}
