<script>
    export let measure;
    let bgColor;
    if (measure === 0) {
        bgColor = "bg-white";
    } else if (measure === 1) {
        bgColor = "bg-gray-100";
    } else if (measure === 2) {
        bgColor = "bg-gray-200";
    } else if (measure === 3) {
        bgColor = "bg-gray-300";
    } else if (measure === 4) {
        bgColor = "bg-gray-400";
    } else if (measure === 5) {
        bgColor = "bg-gray-500";
    } else if (measure === 6) {
        bgColor = "bg-gray-600";
    } else if (measure === 7) {
        bgColor = "bg-gray-700";
    } else {
        bgColor = "bg-gray-800";
    }
</script>

<div class="h-4 w-full {bgColor}" />
