<script>
    import Day from "../components/Day.svelte";
    export let days;
</script>

<div class="grid grid-cols-1 lg:grid-cols-7 gap-x-3">
    <Day measure={days[0]} />
    <Day measure={days[1]} />
    <Day measure={days[2]} />
    <Day measure={days[3]} />
    <Day measure={days[4]} />
    <Day measure={days[5]} />
    <Day measure={days[6]} />
</div>
