<script>
    import Hour from "../components/Hour.svelte";
    export let hours;
    export let next3daysAbbrev;
</script>

<div class="hidden lg:grid grid-cols-11">
    <div />
    <div
        class="grid col-span-5 grid-cols-12 bg-white text-gray-500 font-nunito_light text-xs text-center pb-2"
    >
        <div>12 am</div>
        <div />
        <div />
        <div>3 am</div>
        <div />
        <div />
        <div>6 am</div>
        <div />
        <div />
        <div>9 am</div>
        <div />
        <div />
    </div>
    <div
        class="grid col-span-5 grid-cols-12 bg-white text-gray-500 font-nunito_light text-xs text-center pb-2"
    >
        <div>12 pm</div>
        <div />
        <div />
        <div>3 pm</div>
        <div />
        <div />
        <div>6 pm</div>
        <div />
        <div />
        <div>9 pm</div>
        <div />
        <div />
    </div>
    <div
        class="text-gray-500 font-nunito_light text-xs flex justify-center items-center"
    >
        Today
    </div>
    <div class="grid col-span-5 grid-cols-12">
        <div>
            <Hour measure={hours[next3daysAbbrev[0]]["12 am"]} />
        </div>
        <div>
            <Hour measure={hours[next3daysAbbrev[0]]["1 am"]} />
        </div>
        <div>
            <Hour measure={hours[next3daysAbbrev[0]]["2 am"]} />
        </div>
        <div>
            <Hour measure={hours[next3daysAbbrev[0]]["3 am"]} />
        </div>
        <div>
            <Hour measure={hours[next3daysAbbrev[0]]["4 am"]} />
        </div>
        <div>
            <Hour measure={hours[next3daysAbbrev[0]]["5 am"]} />
        </div>
        <div>
            <Hour measure={hours[next3daysAbbrev[0]]["6 am"]} />
        </div>
        <div>
            <Hour measure={hours[next3daysAbbrev[0]]["7 am"]} />
        </div>
        <div>
            <Hour measure={hours[next3daysAbbrev[0]]["8 am"]} />
        </div>
        <div>
            <Hour measure={hours[next3daysAbbrev[0]]["9 am"]} />
        </div>
        <div>
            <Hour measure={hours[next3daysAbbrev[0]]["10 am"]} />
        </div>
        <div>
            <Hour measure={hours[next3daysAbbrev[0]]["11 am"]} />
        </div>
    </div>
    <div class="grid col-span-5 grid-cols-12">
        <div>
            <Hour measure={hours[next3daysAbbrev[0]]["12 pm"]} />
        </div>
        <div>
            <Hour measure={hours[next3daysAbbrev[0]]["1 pm"]} />
        </div>
        <div>
            <Hour measure={hours[next3daysAbbrev[0]]["2 pm"]} />
        </div>
        <div>
            <Hour measure={hours[next3daysAbbrev[0]]["3 pm"]} />
        </div>
        <div>
            <Hour measure={hours[next3daysAbbrev[0]]["4 pm"]} />
        </div>
        <div>
            <Hour measure={hours[next3daysAbbrev[0]]["5 pm"]} />
        </div>
        <div>
            <Hour measure={hours[next3daysAbbrev[0]]["6 pm"]} />
        </div>
        <div>
            <Hour measure={hours[next3daysAbbrev[0]]["7 pm"]} />
        </div>
        <div>
            <Hour measure={hours[next3daysAbbrev[0]]["8 pm"]} />
        </div>
        <div>
            <Hour measure={hours[next3daysAbbrev[0]]["9 pm"]} />
        </div>
        <div>
            <Hour measure={hours[next3daysAbbrev[0]]["10 pm"]} />
        </div>
        <div>
            <Hour measure={hours[next3daysAbbrev[0]]["11 pm"]} />
        </div>
    </div>
    <div
        class="bg-white text-gray-500 font-nunito_light text-xs flex justify-center items-center"
    >
        {next3daysAbbrev[1]}
    </div>
    <div class="grid col-span-5 grid-cols-12">
        <div>
            <Hour measure={hours[next3daysAbbrev[1]]["12 am"]} />
        </div>
        <div>
            <Hour measure={hours[next3daysAbbrev[1]]["1 am"]} />
        </div>
        <div>
            <Hour measure={hours[next3daysAbbrev[1]]["2 am"]} />
        </div>
        <div>
            <Hour measure={hours[next3daysAbbrev[1]]["3 am"]} />
        </div>
        <div>
            <Hour measure={hours[next3daysAbbrev[1]]["4 am"]} />
        </div>
        <div>
            <Hour measure={hours[next3daysAbbrev[1]]["5 am"]} />
        </div>
        <div>
            <Hour measure={hours[next3daysAbbrev[1]]["6 am"]} />
        </div>
        <div>
            <Hour measure={hours[next3daysAbbrev[1]]["7 am"]} />
        </div>
        <div>
            <Hour measure={hours[next3daysAbbrev[1]]["8 am"]} />
        </div>
        <div>
            <Hour measure={hours[next3daysAbbrev[1]]["9 am"]} />
        </div>
        <div>
            <Hour measure={hours[next3daysAbbrev[1]]["10 am"]} />
        </div>
        <div>
            <Hour measure={hours[next3daysAbbrev[1]]["11 am"]} />
        </div>
    </div>
    <div class="grid col-span-5 grid-cols-12">
        <div>
            <Hour measure={hours[next3daysAbbrev[1]]["12 pm"]} />
        </div>
        <div>
            <Hour measure={hours[next3daysAbbrev[1]]["1 pm"]} />
        </div>
        <div>
            <Hour measure={hours[next3daysAbbrev[1]]["2 pm"]} />
        </div>
        <div>
            <Hour measure={hours[next3daysAbbrev[1]]["3 pm"]} />
        </div>
        <div>
            <Hour measure={hours[next3daysAbbrev[1]]["4 pm"]} />
        </div>
        <div>
            <Hour measure={hours[next3daysAbbrev[1]]["5 pm"]} />
        </div>
        <div>
            <Hour measure={hours[next3daysAbbrev[1]]["6 pm"]} />
        </div>
        <div>
            <Hour measure={hours[next3daysAbbrev[1]]["7 pm"]} />
        </div>
        <div>
            <Hour measure={hours[next3daysAbbrev[1]]["8 pm"]} />
        </div>
        <div>
            <Hour measure={hours[next3daysAbbrev[1]]["9 pm"]} />
        </div>
        <div>
            <Hour measure={hours[next3daysAbbrev[1]]["10 pm"]} />
        </div>
        <div>
            <Hour measure={hours[next3daysAbbrev[1]]["11 pm"]} />
        </div>
    </div>
    <div
        class="bg-white text-gray-500 font-nunito_light text-xs flex justify-center items-center"
    >
        {next3daysAbbrev[2]}
    </div>
    <div class="grid col-span-5 grid-cols-12">
        <div>
            <Hour measure={hours[next3daysAbbrev[2]]["12 am"]} />
        </div>
        <div>
            <Hour measure={hours[next3daysAbbrev[2]]["1 am"]} />
        </div>
        <div>
            <Hour measure={hours[next3daysAbbrev[2]]["2 am"]} />
        </div>
        <div>
            <Hour measure={hours[next3daysAbbrev[2]]["3 am"]} />
        </div>
        <div>
            <Hour measure={hours[next3daysAbbrev[2]]["4 am"]} />
        </div>
        <div>
            <Hour measure={hours[next3daysAbbrev[2]]["5 am"]} />
        </div>
        <div>
            <Hour measure={hours[next3daysAbbrev[2]]["6 am"]} />
        </div>
        <div>
            <Hour measure={hours[next3daysAbbrev[2]]["7 am"]} />
        </div>
        <div>
            <Hour measure={hours[next3daysAbbrev[2]]["8 am"]} />
        </div>
        <div>
            <Hour measure={hours[next3daysAbbrev[2]]["9 am"]} />
        </div>
        <div>
            <Hour measure={hours[next3daysAbbrev[2]]["10 am"]} />
        </div>
        <div>
            <Hour measure={hours[next3daysAbbrev[2]]["11 am"]} />
        </div>
    </div>
    <div class="grid col-span-5 grid-cols-12">
        <div>
            <Hour measure={hours[next3daysAbbrev[2]]["12 pm"]} />
        </div>
        <div>
            <Hour measure={hours[next3daysAbbrev[2]]["1 pm"]} />
        </div>
        <div>
            <Hour measure={hours[next3daysAbbrev[2]]["2 pm"]} />
        </div>
        <div>
            <Hour measure={hours[next3daysAbbrev[2]]["3 pm"]} />
        </div>
        <div>
            <Hour measure={hours[next3daysAbbrev[2]]["4 pm"]} />
        </div>
        <div>
            <Hour measure={hours[next3daysAbbrev[2]]["5 pm"]} />
        </div>
        <div>
            <Hour measure={hours[next3daysAbbrev[2]]["6 pm"]} />
        </div>
        <div>
            <Hour measure={hours[next3daysAbbrev[2]]["7 pm"]} />
        </div>
        <div>
            <Hour measure={hours[next3daysAbbrev[2]]["8 pm"]} />
        </div>
        <div>
            <Hour measure={hours[next3daysAbbrev[2]]["9 pm"]} />
        </div>
        <div>
            <Hour measure={hours[next3daysAbbrev[2]]["10 pm"]} />
        </div>
        <div>
            <Hour measure={hours[next3daysAbbrev[2]]["11 pm"]} />
        </div>
    </div>
</div>

<div class="text-gray-500 text-xs mb-3 lg:hidden">Next 48 Hours</div>

<div class="grid grid-cols-6 lg:hidden">
    <div>
        <Hour measure={hours[next3daysAbbrev[0]]["12 am"]} />
    </div>
    <div>
        <Hour measure={hours[next3daysAbbrev[0]]["1 am"]} />
    </div>
    <div>
        <Hour measure={hours[next3daysAbbrev[0]]["2 am"]} />
    </div>
    <div>
        <Hour measure={hours[next3daysAbbrev[0]]["3 am"]} />
    </div>
    <div>
        <Hour measure={hours[next3daysAbbrev[0]]["4 am"]} />
    </div>
    <div>
        <Hour measure={hours[next3daysAbbrev[0]]["5 am"]} />
    </div>
    <div>
        <Hour measure={hours[next3daysAbbrev[0]]["6 am"]} />
    </div>
    <div>
        <Hour measure={hours[next3daysAbbrev[0]]["7 am"]} />
    </div>
    <div>
        <Hour measure={hours[next3daysAbbrev[0]]["8 am"]} />
    </div>
    <div>
        <Hour measure={hours[next3daysAbbrev[0]]["9 am"]} />
    </div>
    <div>
        <Hour measure={hours[next3daysAbbrev[0]]["10 am"]} />
    </div>
    <div>
        <Hour measure={hours[next3daysAbbrev[0]]["11 am"]} />
    </div>
    <div>
        <Hour measure={hours[next3daysAbbrev[0]]["12 pm"]} />
    </div>
    <div>
        <Hour measure={hours[next3daysAbbrev[0]]["1 pm"]} />
    </div>
    <div>
        <Hour measure={hours[next3daysAbbrev[0]]["2 pm"]} />
    </div>
    <div>
        <Hour measure={hours[next3daysAbbrev[0]]["3 pm"]} />
    </div>
    <div>
        <Hour measure={hours[next3daysAbbrev[0]]["4 pm"]} />
    </div>
    <div>
        <Hour measure={hours[next3daysAbbrev[0]]["5 pm"]} />
    </div>
    <div>
        <Hour measure={hours[next3daysAbbrev[0]]["6 pm"]} />
    </div>
    <div>
        <Hour measure={hours[next3daysAbbrev[0]]["7 pm"]} />
    </div>
    <div>
        <Hour measure={hours[next3daysAbbrev[0]]["8 pm"]} />
    </div>
    <div>
        <Hour measure={hours[next3daysAbbrev[0]]["9 pm"]} />
    </div>
    <div>
        <Hour measure={hours[next3daysAbbrev[0]]["10 pm"]} />
    </div>
    <div>
        <Hour measure={hours[next3daysAbbrev[0]]["11 pm"]} />
    </div>
    <div>
        <Hour measure={hours[next3daysAbbrev[1]]["12 am"]} />
    </div>
    <div>
        <Hour measure={hours[next3daysAbbrev[1]]["1 am"]} />
    </div>
    <div>
        <Hour measure={hours[next3daysAbbrev[1]]["2 am"]} />
    </div>
    <div>
        <Hour measure={hours[next3daysAbbrev[1]]["3 am"]} />
    </div>
    <div>
        <Hour measure={hours[next3daysAbbrev[1]]["4 am"]} />
    </div>
    <div>
        <Hour measure={hours[next3daysAbbrev[1]]["5 am"]} />
    </div>
    <div>
        <Hour measure={hours[next3daysAbbrev[1]]["6 am"]} />
    </div>
    <div>
        <Hour measure={hours[next3daysAbbrev[1]]["7 am"]} />
    </div>
    <div>
        <Hour measure={hours[next3daysAbbrev[1]]["8 am"]} />
    </div>
    <div>
        <Hour measure={hours[next3daysAbbrev[1]]["9 am"]} />
    </div>
    <div>
        <Hour measure={hours[next3daysAbbrev[1]]["10 am"]} />
    </div>
    <div>
        <Hour measure={hours[next3daysAbbrev[1]]["11 am"]} />
    </div>
    <div>
        <Hour measure={hours[next3daysAbbrev[1]]["12 pm"]} />
    </div>
    <div>
        <Hour measure={hours[next3daysAbbrev[1]]["1 pm"]} />
    </div>
    <div>
        <Hour measure={hours[next3daysAbbrev[1]]["2 pm"]} />
    </div>
    <div>
        <Hour measure={hours[next3daysAbbrev[1]]["3 pm"]} />
    </div>
    <div>
        <Hour measure={hours[next3daysAbbrev[1]]["4 pm"]} />
    </div>
    <div>
        <Hour measure={hours[next3daysAbbrev[1]]["5 pm"]} />
    </div>
    <div>
        <Hour measure={hours[next3daysAbbrev[1]]["6 pm"]} />
    </div>
    <div>
        <Hour measure={hours[next3daysAbbrev[1]]["7 pm"]} />
    </div>
    <div>
        <Hour measure={hours[next3daysAbbrev[1]]["8 pm"]} />
    </div>
    <div>
        <Hour measure={hours[next3daysAbbrev[1]]["9 pm"]} />
    </div>
    <div>
        <Hour measure={hours[next3daysAbbrev[1]]["10 pm"]} />
    </div>
    <div>
        <Hour measure={hours[next3daysAbbrev[1]]["11 pm"]} />
    </div>
    <div>
        <Hour measure={hours[next3daysAbbrev[2]]["12 am"]} />
    </div>
    <div>
        <Hour measure={hours[next3daysAbbrev[2]]["1 am"]} />
    </div>
    <div>
        <Hour measure={hours[next3daysAbbrev[2]]["2 am"]} />
    </div>
    <div>
        <Hour measure={hours[next3daysAbbrev[2]]["3 am"]} />
    </div>
    <div>
        <Hour measure={hours[next3daysAbbrev[2]]["4 am"]} />
    </div>
    <div>
        <Hour measure={hours[next3daysAbbrev[2]]["5 am"]} />
    </div>
    <div>
        <Hour measure={hours[next3daysAbbrev[2]]["6 am"]} />
    </div>
    <div>
        <Hour measure={hours[next3daysAbbrev[2]]["7 am"]} />
    </div>
    <div>
        <Hour measure={hours[next3daysAbbrev[2]]["8 am"]} />
    </div>
    <div>
        <Hour measure={hours[next3daysAbbrev[2]]["9 am"]} />
    </div>
    <div>
        <Hour measure={hours[next3daysAbbrev[2]]["10 am"]} />
    </div>
    <div>
        <Hour measure={hours[next3daysAbbrev[2]]["11 am"]} />
    </div>
    <div>
        <Hour measure={hours[next3daysAbbrev[2]]["12 pm"]} />
    </div>
    <div>
        <Hour measure={hours[next3daysAbbrev[2]]["1 pm"]} />
    </div>
    <div>
        <Hour measure={hours[next3daysAbbrev[2]]["2 pm"]} />
    </div>
    <div>
        <Hour measure={hours[next3daysAbbrev[2]]["3 pm"]} />
    </div>
    <div>
        <Hour measure={hours[next3daysAbbrev[2]]["4 pm"]} />
    </div>
    <div>
        <Hour measure={hours[next3daysAbbrev[2]]["5 pm"]} />
    </div>
    <div>
        <Hour measure={hours[next3daysAbbrev[2]]["6 pm"]} />
    </div>
    <div>
        <Hour measure={hours[next3daysAbbrev[2]]["7 pm"]} />
    </div>
    <div>
        <Hour measure={hours[next3daysAbbrev[2]]["8 pm"]} />
    </div>
    <div>
        <Hour measure={hours[next3daysAbbrev[2]]["9 pm"]} />
    </div>
    <div>
        <Hour measure={hours[next3daysAbbrev[2]]["10 pm"]} />
    </div>
    <div>
        <Hour measure={hours[next3daysAbbrev[2]]["11 pm"]} />
    </div>
</div>
