<script>
    import Minute from "../components/Minute.svelte";
    export let minutes;
</script>

<div class="grid grid-cols-11">
    <div
        class="text-gray-500 font-nunito_light text-xs flex justify-center items-center"
    >
        Next 60 minutes
    </div>
    <div class="col-span-2 grid grid-cols-12">
        <Minute measure={minutes[0]} />
        <Minute measure={minutes[1]} />
        <Minute measure={minutes[2]} />
        <Minute measure={minutes[3]} />
        <Minute measure={minutes[4]} />
        <Minute measure={minutes[5]} />
        <Minute measure={minutes[6]} />
        <Minute measure={minutes[7]} />
        <Minute measure={minutes[8]} />
        <Minute measure={minutes[9]} />
        <Minute measure={minutes[10]} />
        <Minute measure={minutes[11]} />
    </div>
    <div class="col-span-2 grid grid-cols-12">
        <Minute measure={minutes[12]} />
        <Minute measure={minutes[13]} />
        <Minute measure={minutes[14]} />
        <Minute measure={minutes[15]} />
        <Minute measure={minutes[16]} />
        <Minute measure={minutes[17]} />
        <Minute measure={minutes[18]} />
        <Minute measure={minutes[19]} />
        <Minute measure={minutes[20]} />
        <Minute measure={minutes[21]} />
        <Minute measure={minutes[22]} />
        <Minute measure={minutes[23]} />
    </div>
    <div class="col-span-2 grid grid-cols-12">
        <Minute measure={minutes[24]} />
        <Minute measure={minutes[25]} />
        <Minute measure={minutes[26]} />
        <Minute measure={minutes[27]} />
        <Minute measure={minutes[28]} />
        <Minute measure={minutes[29]} />
        <Minute measure={minutes[30]} />
        <Minute measure={minutes[31]} />
        <Minute measure={minutes[32]} />
        <Minute measure={minutes[33]} />
        <Minute measure={minutes[34]} />
        <Minute measure={minutes[35]} />
    </div>
    <div class="col-span-2 grid grid-cols-12">
        <Minute measure={minutes[36]} />
        <Minute measure={minutes[37]} />
        <Minute measure={minutes[38]} />
        <Minute measure={minutes[39]} />
        <Minute measure={minutes[40]} />
        <Minute measure={minutes[41]} />
        <Minute measure={minutes[42]} />
        <Minute measure={minutes[43]} />
        <Minute measure={minutes[44]} />
        <Minute measure={minutes[45]} />
        <Minute measure={minutes[46]} />
        <Minute measure={minutes[47]} />
    </div>
    <div class="col-span-2 grid grid-cols-12">
        <Minute measure={minutes[48]} />
        <Minute measure={minutes[49]} />
        <Minute measure={minutes[50]} />
        <Minute measure={minutes[51]} />
        <Minute measure={minutes[52]} />
        <Minute measure={minutes[53]} />
        <Minute measure={minutes[54]} />
        <Minute measure={minutes[55]} />
        <Minute measure={minutes[56]} />
        <Minute measure={minutes[57]} />
        <Minute measure={minutes[58]} />
        <Minute measure={minutes[59]} />
    </div>
</div>
