<script>
    import { Link, page } from "@inertiajs/inertia-svelte";
    import Icon from "@iconify/svelte";
    export let locations;
</script>

<div class="font-roboto_bold text-2xl text-center text-indigo-700">
    Saved Locations
</div>

{#if !$page.props.loggedIn}
    <div class="text-xl text-center mt-4">
        Signup or login to save locations.
    </div>
{/if}

<div class="grid grid-cols-3 gap-1 w-full mx-auto mt-6">
    {#each locations as location}
        <div
            class="col-span-1 flex justify-center items-center space-x-5 bg-white py-1"
        >
            <Link
                class=""
                title="View this location"
                href="/change_location?default={location.default}&latitude={location.lat}&long={location.long}&name={location.name}"
            >
                <Icon icon="bi:eye" class="h-7 w-7" />
            </Link>
            {#if location.default}
                <div class="" title="This is the default location">
                    <Icon icon="ant-design:star-filled" class="h-7 w-7" />
                </div>
            {:else}
                <Link
                    title="Make this the default location"
                    href="/default_location"
                    method="post"
                    data={{ id: location.id }}
                    as="button"
                >
                    <Icon icon="ant-design:star-outlined" class="h-7 w-7" />
                </Link>
            {/if}
            <Link
                title="Remove this location"
                href="/delete_location"
                method="post"
                data={{ id: location.id }}
                as="button"
            >
                <Icon icon="fluent:delete-16-regular" class="h-7 w-7" />
            </Link>
        </div>
        <div class="col-span-2 flex items-center bg-white">
            <div class="pl-3">{location.name}</div>
        </div>
    {/each}
</div>
