<script>
    import { useForm } from "@inertiajs/inertia-svelte";
    import Icon from "@iconify/svelte";

    let form = useForm({
        location: null,
    });

    function submit() {
        $form.get("/search");
    }
</script>

<div class="font-roboto_bold text-2xl text-center text-indigo-700">Find</div>

<form on:submit|preventDefault={submit}>
    <div class="w-3/4 lg:w-1/2 grid grid-cols-5 gap-1 mx-auto mt-4">
        <div class="col-span-4">
            <input class="p-2" type="text" bind:value={$form.location} />
        </div>
        <div class="col-span-1 flex items-center">
            <button type="submit" disabled={$form.processing}
                ><Icon icon="akar-icons:search" class="h-7 w-7" />
            </button>
        </div>
    </div>
</form>
