<script>
    import Icon from "@iconify/svelte";
    export let measure;
    export let size;
    const iconSizeCurrent = "h-24 w-24 text-center";
    const iconSizeHour = "h-9 w-9 text-center";
    const iconSizeDay = "h-12 w-12 text-center";
    const day = "bg-white text-indigo-700 flex justify-center";
    const night = " bg-gray-500 text-white flex justify-center";
    let iconSize;
    if (size === "hour") {
        iconSize = iconSizeHour;
    } else if (size === "day") {
        iconSize = iconSizeDay;
    } else if (size === "current") {
        iconSize = iconSizeCurrent;
    }
    const iconClass = measure["dayNight"] === "day" ? day : night;
</script>

{#if [200, 201, 202, 210, 211, 212, 221, 230, 231, 232].includes(measure["weatherId"])}
    <div class={iconClass}>
        <Icon icon="fluent:weather-thunderstorm-20-regular" class={iconSize} />
    </div>
{:else if [300, 301, 302, 310, 311, 312, 313, 314, 321].includes(measure["weatherId"])}
    <div class={iconClass}>
        <Icon icon="fluent:weather-drizzle-20-regular" class={iconSize} />
    </div>
{:else if [500, 501, 502, 503, 504, 511, 520, 521, 522, 531].includes(measure["weatherId"])}
    <div class={iconClass}>
        <Icon icon="fluent:weather-rain-20-regular" class={iconSize} />
    </div>
{:else if [600, 601, 602, 620, 621, 622].includes(measure["weatherId"])}
    <div class={iconClass}>
        <Icon icon="fluent:weather-snowflake-20-regular" class={iconSize} />
    </div>
{:else if [611, 612, 613, 615, 616].includes(measure["weatherId"])}
    <div class={iconClass}>
        <Icon icon="fluent:weather-rain-snow-20-regular" class={iconSize} />
    </div>
{:else if [701, 711, 721, 731, 741, 751, 761, 762, 771, 781].includes(measure["weatherId"])}
    <div class={iconClass}>
        <Icon icon="fluent:weather-fog-20-regular" class={iconSize} />
    </div>
{:else if [803, 804].includes(measure["weatherId"])}
    <div class={iconClass}>
        <Icon icon="fluent:weather-cloudy-20-regular" class={iconSize} />
    </div>
{:else if measure["dayNight"] === "day"}
    {#if measure["weatherId"] === 800}
        <div class={iconClass}>
            <Icon icon="fluent:weather-sunny-20-regular" class={iconSize} />
        </div>
    {:else if [801, 802].includes(measure["weatherId"])}
        <div class={iconClass}>
            <Icon
                icon="fluent:weather-partly-cloudy-day-20-regular"
                class={iconSize}
            />
        </div>
    {/if}
{:else if measure["dayNight"] === "night"}
    {#if measure["weatherId"] === 800}
        <div class={iconClass}>
            <Icon icon="fluent:weather-moon-20-regular" class={iconSize} />
        </div>
    {:else if [801, 802].includes(measure["weatherId"])}
        <div class={iconClass}>
            <Icon
                icon="fluent:weather-partly-cloudy-night-20-regular"
                class={iconSize}
            />
        </div>
    {/if}
{/if}
